body {
  background-color: whitesmoke;

}

h1 {
  color: blue;
  background-color: lawngreen;
  
}
a:link{
    color: green;
}
p {
  color: gray;
  font-size: 20px;
  font-family: cursive;
border: 2px solid powderblue;
  padding: 10px;
  margin: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
   
  }
  